<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nulify</title>
    <style>
        .input-group {
            margin-bottom: 10px;
        }
        .input-group label {
            display: inline-block;
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Nulify</h1>
    <img id="video-feed" src="{{ url_for('video_feed') }}" width="640" height="480">
    <br>
    <a href=" " id="link">for remote monitoring on other devices</a>
    
    <h2>Set Size Range</h2>
    <div class="input-group">
        <label for="min-width">Min Width:</label>
        <input type="number" id="min-width" step="0.1" value="0"> cm.
    </div>
    <div class="input-group">
        <label for="max-width">Max Width:</label>
        <input type="number" id="max-width" step="0.1" value="100"> cm.
    </div>
    <div class="input-group">
        <label for="min-height">Min Height:</label>
        <input type="number" id="min-height" step="0.1" value="0"> cm. 
    </div>
    <div class="input-group">
        <label for="max-height">Max Height:</label>
        <input type="number" id="max-height" step="0.1" value="100"> cm.
    </div>
    <button onclick="setSizeRange()">Set Range</button>

    <script>
        async function fetchIp() {
            const response = await fetch('/get_ip');
            const data = await response.json();
            const videoElement = document.getElementById('link');
            videoElement.href = `http://${data.ip}:${data.port}/video_feed`;
        }

        async function setSizeRange() {
            const minWidth = document.getElementById('min-width').value;
            const maxWidth = document.getElementById('max-width').value;
            const minHeight = document.getElementById('min-height').value;
            const maxHeight = document.getElementById('max-height').value;

            const response = await fetch('/set_size_range', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    min_width: minWidth,
                    max_width: maxWidth,
                    min_height: minHeight,
                    max_height: maxHeight
                }),
            });

            const result = await response.json();
            if (result.status === 'success') {
                alert('Size range set successfully');
            } else {
                alert('Failed to set size range');
            }
        }

        window.onload = fetchIp;
    </script>
</body>
</html>