<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nulify</title>
</head>
<body>
    <h1>Nulify</h1>
    <img id="video-feed" src="{{ url_for('video_feed') }}" width="640" height="480">
    <a href=" " id="link">for remote monitoring on other devices</a>

    <script>
        async function fetchIp() {
            const response = await fetch('/get_ip');
            const data = await response.json();
            const videoElement = document.getElementById('link');
            videoElement.href = `http://${data.ip}:${data.port}/video_feed`;
        }

        // Call the fetchIp function when the page loads
        window.onload = fetchIp;
    </script>
</body>
</html>