Package: nulify
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-tk, python3-pip
Maintainer: Arman Khan armkhan12e@gmail.com
Description: Nulify - Object Size Measurement Tool
 This application helps measure object sizes using both online and offline modes.
